<p-toolbar class="mb-6">
  <ng-template #start>
    <p-button
      label="Novo"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="openNew()"
    />
  </ng-template>

  <ng-template #end>
    <p-button
      label="Exportar"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="exportCSV()"
    />
  </ng-template>
</p-toolbar>

<app-crud-table
  [config]="config()"
  [columns]="columns()"
  [globalFilterFields]="globalFilterFields()"
  [templateMap]="templateMap()"
  [actionsTemplate]="actionsTemplate()"
  [items]="items()"
  (editClick)="edit($event)"
  (deleteOneClick)="deleteOne($event)"
  (pageChange)="onPage($event)"
></app-crud-table>

<p-confirmdialog [style]="{ width: '450px' }" />
<app-crud-dialog
  [(visible)]="dialogVisible"
  [config]="config()"
  [formTemplate]="formTemplate()"
  (cancelClick)="cancel()"
  (saveClick)="save()"
></app-crud-dialog>

<p-toast />
