<app-crud
  #crud
  [columns]="cols"
  [service]="loanService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
></app-crud>

<ng-template #crudForm>
  <form [formGroup]="form" class="grid grid-cols-12 gap-4">
    <app-input-container
      label="Código"
      class="col-span-12 md:col-span-6 lg:col-span-2"
    >
      <input type="text" pInputText id="id" formControlName="id" fluid />
    </app-input-container>

    <app-input-container label="Data do empréstimo" class="col-span-12 md:col-span-6">
      <input type="date" pInputText id="loanDate" formControlName="loanDate" fluid />
    </app-input-container>

    <app-input-container label="Prazo" class="col-span-12 md:col-span-6">
      <input type="date" pInputText id="deadline" formControlName="deadline" fluid />
    </app-input-container>

    <app-input-container label="Data de devolução" class="col-span-12 md:col-span-6">
      <input type="date" pInputText id="devolution_date" formControlName="devolutionDate" fluid />
    </app-input-container>

    <app-input-container
      label="Observação"
      class="col-span-12 md:col-span-6 lg:col-span-4"
    >
      <input
        type="text"
        pInputText
        id="observation"
        formControlName="observation"
        fluid
      />
    </app-input-container>

    <app-input-container
      label="Mutuário"
      class="col-span-12 md:col-span-6 lg:col-span-4">
      <app-search-select
        formControlName="borrower"
        optionLabel="nome"
        [service]="userService"
        placeholder="Selecione um usuário"
      />
    </app-input-container>

    <app-input-container
      label="RA/SIAPE"
      class="col-span-12 md:col-span-6 lg:col-span-4"
    >
      <input
        type="text"
        pInputText
        id="ra_siape"
        formControlName="raSiape"
        fluid
      />
    </app-input-container>

    <p-fieldset legend="Items" class="col-span-12">
      <app-subitem-form
        formControlName="items"
        [form]="loanItensForm"
        [columns]="itensCols"
      >
        <ng-template #formTemplate>
          <ng-container *ngTemplateOutlet="loanItensFormTemplate"></ng-container>
        </ng-template>
      </app-subitem-form>
    </p-fieldset>
  </form>
</ng-template>

<ng-template #loanItensFormTemplate>
  <form [formGroup]="loanItensForm" class="grid grid-cols-12 gap-4 pb-5">
    <app-input-container label="Item" class="col-span-12 md:col-span-6">
      <app-search-select
        formControlName="item"
        optionLabel="name"
        [service]="itemService"
        placeholder="Selecione um item"
      />
    </app-input-container>

    <app-input-container
      label="Quantidade"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <p-input-number
        locale="pt-BR"
        mode="decimal"
        formControlName="quantity">
      </p-input-number>
    </app-input-container>

    <app-input-container
      label="Status"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <app-static-select
        [options]="loanStatusOptions"
        formControlName="status"
      ></app-static-select>
    </app-input-container>
  </form>
</ng-template>
