<app-crud
  #crud
  [columns]="cols"
  [service]="loanService"
  [config]="config"
  [form]="form"
  [formTemplate]="crudForm"
  [filtersTemplate]="filters"
  [searchRequest]="searchRequest()"
  (entityLoad)="onEntityLoad($event)"
  (cancelClick)="onCancel()"
></app-crud>

<ng-template #crudForm>
  <div class="p-fluid p-4">
    <div class="mb-6">
      <h2 class="text-2xl font-semibold">Registro de Empréstimo</h2>
      <p class="text-muted-color">
        Preencha os campos para registrar um novo empréstimo.
      </p>
    </div>

    <form [formGroup]="form" class="grid grid-cols-12 gap-4">
      <app-input-container
        label="Data do empréstimo"
        class="col-span-12 md:col-span-4"
      >
        <input
          type="date"
          pInputText
          id="loanDate"
          formControlName="loanDate"
        />
      </app-input-container>

      <app-input-container label="Prazo" class="col-span-12 md:col-span-4">
        <input
          type="date"
          pInputText
          id="deadline"
          formControlName="deadline"
        />
      </app-input-container>

      <app-input-container
        label="Data de devolução"
        class="col-span-12 md:col-span-4"
      >
        <input
          type="date"
          pInputText
          id="devolution_date"
          formControlName="devolutionDate"
        />
      </app-input-container>

      <app-input-container label="Mutuário" class="col-span-12 md:col-span-6">
        <app-search-select
          formControlName="borrower"
          optionLabel="nome"
          [service]="userService"
          placeholder="Selecione um usuário"
        />
      </app-input-container>

      <app-input-container label="Observação" class="col-span-12 md:col-span-8">
        <input
          type="text"
          pInputText
          id="observation"
          formControlName="observation"
        />
      </app-input-container>

      <p-fieldset legend="Itens" class="col-span-12">
        <app-subitem-form
          formControlName="items"
          [form]="loanItensForm"
          [columns]="itensCols"
          [allowEditing]="!disabled()"
          [allowDeleting]="!disabled()"
          [allowAdding]="!disabled()"
        >
          <ng-template #formTemplate>
            <ng-container
              *ngTemplateOutlet="loanItensFormTemplate"
            ></ng-container>
          </ng-template>
        </app-subitem-form>
      </p-fieldset>
    </form>
  </div>
</ng-template>

<ng-template #loanItensFormTemplate>
  <form
    [formGroup]="loanItensForm"
    class="grid grid-cols-12 min-w-0 gap-4 pb-5"
  >
    <app-input-container label="Item" class="col-span-4 lg:col-span-6">
      <app-search-select
        formControlName="item"
        optionLabel="name"
        [service]="itemService"
        placeholder="Selecione um item"
      />
    </app-input-container>

    <app-input-container
      label="Quantidade"
      class="col-span-4 md:col-span-6 lg:col-span-3"
    >
      <p-input-number locale="pt-BR" mode="decimal" formControlName="quantity">
      </p-input-number>
    </app-input-container>

    <app-input-container
      label="Status"
      class="col-span-12 md:col-span-6 lg:col-span-3"
    >
      <app-static-select
        [options]="loanStatusOptions"
        formControlName="status"
      ></app-static-select>
    </app-input-container>
  </form>
</ng-template>

<ng-template #filters>
  <div class="grid grid-cols-12 gap-4">
    <app-input-container label="Data do empréstimo" class="col-span-12">
      <input
        type="date"
        pInputText
        id="loanDate"
        [(ngModel)]="loanDateFilter"
      />
    </app-input-container>

    <app-input-container label="Mutuário" class="col-span-12">
      <app-search-select
        [(ngModel)]="borrowerFilter"
        optionLabel="nome"
        [service]="userService"
        placeholder="Selecione um usuário"
      />
    </app-input-container>

    <app-input-container label="RA/SIAPE" class="col-span-12">
      <input type="text" pInputText id="ra_siape" [(ngModel)]="raSiapeFilter" />
    </app-input-container>

    <app-input-container label="Status" class="col-span-12">
      <app-static-select
        [options]="loanStatusOptions"
        [(ngModel)]="statusFilter"
      ></app-static-select>
    </app-input-container>
  </div>
</ng-template>
